@{
    ViewData["Title"] = "Home Page";
}


<!--Welcome-->
<h1>Welcome to Layton Utah Temple Tours!</h1>

<!--Temple picture-->
<img src="~/img/Temple.jpg" />


<!--Basic tour information-->
<p>General Tour Instructions:</p>

<ul>
    <li>Masks are required.</li>
    <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</li>
    <li>Dress casual, except on Sunday</li>
</ul>

<!--Sign Up button-->
<a asp-action="SelectAppointment" class="btn btn-dark">Sign Up!</a>
