@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    if (Model != null)
    {
        ViewBag.ListOfAppointments = Model.AppointmentsMade;

    }

    ViewBag.Counter = 0;

}

@model AvailableToursViewModel

<form asp-action="SelectAppointment" method="post">
    <label asp-for="Times">Select a date:</label>
    <input asp-for="Times" type="date" onchange="this.form.submit()" />
</form>


@if (Model != null)
{
    <form class="text-center" asp-action="SelectTime">
        <input type="hidden" name="date" value="@Model.Times.Date.Date" />
        <div class="btn-group-sm">
            @foreach (var x in Model.Times.TimesList)
            {
                @foreach (var y in ViewBag.ListOfAppointments)
                {
                    @if (x == y)
                    {
                        <a class="btn btn-info disabled" name="time">
                            @x
                    </a>
                    <br />
                    ViewBag.Counter = ViewBag.Counter + 1;
                }

                }

                @if (ViewBag.Counter == 0)
                {
                    <button type="submit" class="btn btn-info" value="@x" name="time" onclick="this.form.submit()">@x</button>
                    <br />
                }


                ViewBag.Counter = 0;
            }
        </div>
    </form>

}






