@*
*@
@{
    ViewBag.Title = "View Appointments";
}

@model TempleAppointmentContext

<div>
    <h2>Here is the list of appointments:</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Appointment ID</th>
                
                <th>Time</th>
            </tr>
        </thead>
        <!--table displaying all appointments-->
        <tbody>
            @foreach (Project1.Models.Appointment x in Model.Appointments)
            {
                <tr>
                    <td>@x.AppointmentId</td>
                    <td>@x.AppointmentTime</td>
                </tr>
            }
        </tbody>
    </table>
</div>