@*
*@
@{
    ViewBag.Title = "View Appointments";
}

@model IEnumerable<Project1.Models.Appointment>

<div>
    <h2>Here is the list of appointments:</h2>

    <table>
        <thead>
            <tr>
                <th>Appointment ID</th>
                <th>Group</th>
                <th>Time</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Project1.Models.Appointment x in Model)
            {
                <tr>
                    <td>@x.AppointmentId</td>
                    <td>@x.Group</td>
                    <td>@x.AppointmentTime</td>
                </tr>
            }
        </tbody>
    </table>
</div>